{% extends 'finance/layout.html' %}
{% load static %}

{% block body %}
    <div>
        <div class="m-4">
            <div class="row gap-4 text-muted">
                <div class="col p-2 bg-light rounded-3">
                    <h3>Your Balance</h3>
                    <p class="fs-2 text-success">$3000.00</p>
                </div>
                <div class="col p-2 bg-light rounded-3">
                    <h3>Monthly Spending</h3>
                    <p class="fs-2 text-danger">$300.00</p>
                </div>
                <div class="col p-2 bg-light rounded-3">
                    <h3>Monthly Deposits</h3>
                    <p class="fs-2 text-success">$200.00</p>
                </div>
                <div class="col p-2 bg-light rounded-3">
                    <h3>Transactions</h3>
                    <p class="fs-2 text-warning">30</p>
                </div>
            </div>
        </div>

        <div class="accordion m-4" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Add Transaction
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <form class="row p-2">
                    {% csrf_token %}
                    <div class="col-2">
                      <input type="number" step="0.01" class="form-control" placeholder="Amount" aria-label="amount" id="amount">
                    </div>
                    <div class="col-2">
                        <select class="form-select" id="transaction-type">
                            <option selected disabled>Transaction type</option>
                            <option value="deposit">Deposit</option>
                            <option value="point of sale">Point of sale</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Memo" aria-label="memo" id="memo">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
              </div>
            </div>
        </div>

        <div class="m-4 bg-light p-2">
            <div class="scrollabe">
                <table class="table caption-top">
                    <caption>Transactions</caption>
                    <thead>
                        <tr>
                            <th scope="col">Amount</th>
                            <th scope="col">Memo</th>
                            <th scope="col">Transaction Type</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Larry the Bird</td>
                            <td>tbonmok</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Larry the Bird</td>
                            <td>tbonmok</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Larry the Bird</td>
                            <td>tbonmok</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Larry the Bird</td>
                            <td>tbonmok</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Larry the Bird</td>
                            <td>tbonmok</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Larry the Bird</td>
                            <td>tbonmok</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static "finance/index.js" %}"></script>
{% endblock %}